- if @results.any?
  .ps-results
    %table.ps-table
      %thead
        %tr
          - @options[:field_list].each do |attr|
            %td
              = t("activerecord.attributes.#{@options[:model_name]}.#{attr}")
      %tbody
        - @results.each do |record|
          = render 'row', :record => record
    .ps-pagination
      = paginate @results
- else
  .ps-no-results
    = t("pretty_search.notifications.no_results")

:javascript
  $('.js-reference-result .pagination span a').click(function() {
    var $this = $(this);
    $('.ui-dialog-buttonpane button:contains(OK)', $this.closest('.ui-dialog')).button('disable');
    $.get($this.attr('href'), function(response) {
      $this.closest('.js-reference-result').html(response);
    });
    return false;
  });